<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <style>
    .output-box {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
      width: 600px; /* or any other width */
      height: 800px; /* or any other height */
      overflow: auto; /* to handle overflow of text */
      background-color: #f9f9f9; /* light grey background */
    }
    </style>
</head>

<body>

<h2>Profit and Loss Analyser</h2>
<h4>Let AI analyse your P&L and give back inisghts</h4>
<div> Upload a Quickbooks 'Profit and Loss Comparison Report' with value and % changes exported into .xlsx </div>
<form id='yourFormId' method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" id="uploadButton">Upload</button>
</form>


<div class="output-box">
  {% if message %}
    <p id="outputMessage">{{ message|safe }}</p>
  {% else %}
    <p id="outputMessage"></p>
  {% endif %}
</div>

<div>
{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}
</div>

<script>
/*
  document.getElementById('uploadButton').addEventListener('click', function(event) {
    // Prevent the form from being submitted
    //event.preventDefault();

    // Update the output box
    document.getElementById('outputMessage').textContent = 'Please wait while we get your insights...';

    // Your upload logic here...
});
*/

/*
  document.getElementById('uploadButton').addEventListener('click', function(event) {
  // Prevent the form from being submitted immediately
  event.preventDefault();

  // Update the output box
  document.getElementById('outputMessage').textContent = 'Please wait while we process your request...';

  // Disable the upload button
  document.getElementById('uploadButton').disabled = true;

  // Submit the form programmatically
  //document.getElementById('yourFormId').submit();
  // Submit the form programmatically after a slight delay
  setTimeout(function() {
  document.getElementById('yourFormId').submit();
  },  100); // Adjust the delay as needed
*/
</script>


</body>
</html>